/* Hide page elements that will not be displayed */
header h1, h2{
	display: none;
}


header {
	background: url(CCB_Logo_SM.png) top center no-repeat;
	-o-background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	background-size: contain;
	
	width: 100%;
	height: 154px;
	border-bottom: 1px solid black;
}

/* Mobile styles under portrait orientation */

@media screen and (orientation: portrait) {
	
	   /* Main section navigation list styles */
   nav.horizontal ul{
      float: left;
      width: 20%;
	  margin: 0;
	  padding: 0;
	  padding-top: 5px;
   }

   nav.horizontal li {
      background-color: rgb(25, 83, 5);
      border: 1px solid black;
      display: block;
      font-size: 12px;
      height: 30px;
      width: 100%;
	  list-style-type: none;
	  text-align: center;

   }

   nav.horizontal li a {
      color:white;
	  text-decoration: none;
   }
}

#web {
	display: none;
}

#mobile p{
	font-size: 23px;
	font-weight: bold;
}

#save {
	width:70%;
	margin-left: 5%;
	margin-top: 35px;
}

#upcomingEvents {
	display: none;
}

#concertflyer {
	width: 90%;
	margin-left: 5%;
}

.event {
	margin-top: 30px;
	border: 1px solid black;
	border-top: none;
	border-left: none;
	border-right: none;
}

.Title {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.Info {
	text-align: center;
	padding-bottom: 10px;
}

article img {
	padding-top: 30px;
}

#FacebookEvent {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}