#mobile {
	display: none;
}

header{
	
	background-color: white;
	background-color: rgb(252,253,251);
	background: rgb(252,253,251) url(CCB_Logo.jpg) top left no-repeat;
	height: 220px;
}

header h1{
	display: none;
}
header img{
	padding-left: 50px;
}

#web {
	background-color: white;
    margin-bottom: 0;
    padding: 10px 0 10px 10px;	
}

h2 {
	display: none;
}

.director-image {
	border-radius: 50%;
    margin-top: 100px;
}

.director {
	margin: 10px 0 10px 0;
}

.pcc {
	margin-top: 130px;
}

@media all and (max-width: 767px) {
	.director-image-container {
		text-align: center;
	}
	
	h3 {
		text-align: center;
	}
	
	.director-image {
		margin-top: 10px;
	}
	
	.director {
		border-bottom: 1px solid black;
	}
	
	.director:last-of-type {
		border: none;
	}
}

@media all and (max-width: 650px) {
	header {
		background: url(CCB_Logo_SM.png) top center no-repeat;
		-o-background-size: contain;
		-moz-bacground-size: contain;
		-webkit-background-size: contain;
		background-size: contain;
		
		width: 100%;
		height: 154px;
		border-bottom: 1px solid black;
		background-color: white;
	}
}